
<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
      border-right:1px solid #bbb;
    }
    
    li:last-child {
      border-right: none;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    } 
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }
    </style>
  
    <ul>
      <li routeLinkActive="active" ><a  routerLink="/">Home</a></li>
      <li routeLinkActive="active" ><a  routerLink="/posts">Posts</a></li>
      <li routeLinkActive="active" ><a  routerLink="/signin">Sign In</a></li>
      <li><a  routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/signin" (click)="Logout()">Sign out</a></li>
    </ul>
  
    <br />


    <router-outlet></router-outlet>